{% extends "main/base.html" %}
{% load static %}

{% block style %}
<style>
    .bg {
        background-color: black;
        border: grey double 1vh;
        margin: 1vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 100vh;
        min-height: 25vh;
        margin-top: 120px;
        color: white;
        margin-bottom: 7vh;
    }

    @media (max-width: 768px) {
        .bg {
            min-width: 40vh;
            margin-bottom: 1vh;
        }
    }

    .btn {
        color: #FFF;
        transition: all 0.5s;
        position: relative;
        size: 25vh;
    }

    .btn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.313);
        transition: all 0.3s;
    }

    .btn:hover::before {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    .btn::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
        border: 1px solid rgba(255, 255, 255, 0.5);
        transform: scale(1.2, 1.2);
        opacity: 1;
    }

    .btn:hover::after {
        opacity: 0;
        transform: scale(1, 1);
    }

    .bg-button {
        background-color: black;
        border: grey double 1vh;
        margin-bottom: 10vh;
    }
</style>
{% endblock %}

{% block content %}
<div class="container margin-for-ph">
    <div class="bg px-3">
        <h2>Order your favorite food with fast delivery via Just-Eat!</h2>
        <p>Dear our customers! We, the restaurant Istanbul Kebab & Grill Restaurant, are pleased to present you with
            a
            unique opportunity to enjoy your favorite dishes right at your home or office. We cooperate with the
            leading
            food delivery platform Just-Eat to ensure you fast and convenient delivery, incomparable choice and
            unsurpassed quality.</p>
    </div>
    <div class="d-flex flex-column align-items-center">
        <img src="{% static 'images/Just Eat Logo 800x518.png' %}" height="140vh" alt="Photo">
        <a href="https://www.just-eat.ie/restaurants-istanbul-ennis-clare/menu" class="btn text-white bg-button">Order now</a>
    </div>
</div>
{% endblock %}